{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class='container'>
 
  <div class='row'>
  <div class='col d-none d-md-block'> 
     hi
   </div>

   <div id="social-signup-box"class='col-md-5 mt-5 mb-1'>
    <div class="card" style="background-color:rgb(237, 253, 253)"> 
  <div class='card-body  p-5'>
    <h3>{% trans "Sign Up" %}</h3>

<!-- <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p> -->

<form class="signup swift" style="line-height:2" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form|crispy}}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary px-3 pb-2 border none rounded-pill mt-2" type="submit">{% trans "Sign Up" %} </button>
</form>
</div>
</div>
       </div>
       <div class='col d-none d-md-block '>there</div>
  </div>
  
   
</div>
{% endblock %}


{% block scripts %}
 <script> 
 $(document).ready(function(){
  

  var email = document.getElementById("id_email");
  email.classList.add("border","border-success","border-2","rounded-pill","form-control","p-2");
  var username = document.getElementById("id_username");
  username.classList.add("border","border-success","border-2","rounded-pill","form-control","p-2","mb-2");
  



  var error_username = document.getElementById("error_1_id_username");
  error_username.classList.add("mb-0");

  var baseElement = document.querySelector(".swift");
 
  var nice =baseElement.querySelector("li")
  console.log("nice",nice)
  if(nice != null){
   nice.setAttribute("style","list-style-type:none")
  //  nice.setAttribute("display","inline-block")
   nice.setAttribute("class","okay")
   
  }
  



// $('label[for="id_password1"]').hide()
// $('label[for="id_password2"]').hide();
// $('label[for="id_email"]').hide();
// $('label[for="id_username"]').hide();




// mot2.onclick= function myFunction2() {
//   var element2 = document.getElementById("id_password");
//   element2.classList.add("border","none");
// }


 });
</script>
     
     
    {% endblock scripts %}
