{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block content %}
<div class='container'>
 
  <div class='row'>
  <div class='col d-none d-md-block'> 
     
   </div>

   <div style="line-height:2" id="add-email-box"class='col-md-5 mt-5 mb-1 '>
    <div class="card" style="background-color:rgb(237, 253, 253)"> 
  <div class='card-body  p-5'>
    <h3>{% trans "E-mail Addresses" %}</h3>
{% if user.emailaddress_set.all %}
<p><b>{% trans 'The following e-mail addresses are associated with your account:' %}</b></p>

<form   action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder mb-2">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">({% trans "Verified" %})</span>
    {% else %}
    <span class="unverified">({% trans "Unverified" %})</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "(Primary)" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder mb-3 ">
   <div class="mb-2">  <button class="secondaryAction mt-2 btn btn-primary px-3 pb-2 rounded-pill border none" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button></div>
   <div class="mb-2">  <button class="secondaryAction btn btn-primary px-3 pb-2 rounded-pill border none" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button></div>
   <div class="mb-2">   <button class="primaryAction btn btn-primary px-3 pb-2 rounded-pill border none" type="submit" name="action_remove" >{% trans 'Remove' %}</button></div>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}

  {% if can_add_email %}
    <h4 class="mb-3">{% trans "Add E-mail Address" %}</h4>

    <form style="line-height:1" method="post" action="{% url 'account_email' %}" class="add_email neptune">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="add-email-btn" class="mt-0 btn btn-primary px-3 pb-2 rounded-pill border none" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>
  {% endif %}

</div>
</div>
       </div>
       <div class='col d-none d-md-block '></div>
  </div>
  
   
</div>
 


{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }


 
})();

 
</script>
{% endblock %}

{% block scripts %} 
<script>
$('label[for="id_email"]').hide();
var addEmailBtn= document.getElementById("add-email-btn")
 addEmailBtn.classList.add("nai")


var baseElement = document.querySelector(".neptune");
var wellUL =baseElement.querySelector("ul")

if(wellUL != null){
   wellUL.setAttribute("class","px-0")
 
   
  }

  var well =baseElement.querySelector("li")
  
  if(well != null){
   
    
   well.setAttribute("style","list-style-type:none")
   well.classList.add("okay")
   
  }
 
</script>

{% endblock scripts %}