{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{%block title %}
  <title> CompareLegends-Logout</title>  
   {%endblock title %}

{% block content %}
<div class='container mt-2'>
 
  <div class='row'>
  <div class='col d-none d-md-block'> 
     
   </div>

   <div id="confirm-email"class='col-md-5 mt-5 mb-1'>
    <div class="card" style="background-color:rgb(237, 253, 253)"> 
  <div class='card-body  p-5'>
<h3 class="mb-0 pb-0">{% trans "Log Out" %}</h3>

<p class="mb-0 pb-0">{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary mt-0 px-3 pb-2  border none rounded-pill" type="submit">{% trans 'Log Out' %}</button>
</form>
</div>
</div>
       </div>
       <div class='col d-none d-md-block '></div>
  </div>
  
   
</div>

{% endblock %}
