{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class='container'>
 
    <div class='row'>
    <div class='col d-none d-md-block'> 
       hi
     </div>
  
     <div id="pass-change-success"class='col-md-5 mt-5 mb-1 text-center'>
      <div class="card" style="background-color:rgb(237, 253, 253)"> 
    <div class='card-body  p-5'>
    <h3>{% trans "Change Password" %}</h3>
    <p style="line-height:2">{% trans 'Your password is now changed.' %}</p>


</div>
</div>
       </div>
       <div class='col d-none d-md-block '>there</div>
  </div>
  
   
</div>
 
{% endblock %}
