{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class='container mt-2'>
 
    <div class='row'>
    <div class='col d-none d-md-block'> 
       hi
     </div>
  
     <div id="verification-sent"class='col-md-5 mt-5 mb-1'>
      <div class="card" style="background-color:rgb(237, 253, 253)"> 
    <div class='card-body  p-5'>
    <h3>{% trans "Verify Your E-mail Address" %}</h3>

    <p style="line-height: 2;">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
</div>
</div>
       </div>
       <div class='col d-none d-md-block '>there</div>
  </div>
  
   
</div>
 
{% endblock %}
