body{
    padding:0;
    margin: 0;
     
}
nav{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:rgb(249, 236, 236)
     
}
.container{
    height:60px;
    
    line-height:58px;
   
}


 

.btn-primary{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:rgb(249, 236, 236);
    
}

.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}
 

.not-visible{
    display: none;
}

a{
text-decoration: none;
color:rgb(249, 236, 236)
}

a:hover{
    
    color:white
    }
 
.social-login{
    /* color:purple !important */
}

.man-with-word a {
   
    color:red !important
}

.man-with-word {
    list-style-type:none;
   
}

#forgot-pass{
    color:#67B26F;
    font-weight: bold;
}


.me-again label,.password_reset label {
    display:none !important;
}

#id_login,#id_password,#id_email{
    margin-bottom:5px !important;
    height:40px ;
    border-radius:10px;
    border:2px solid #67B26F;
    padding:7px !important;
   
}


#id_email,#id_login,#id_password:focus{
    outline:none ;
}

.dhat{
    padding-bottom:0 !important;
    margin-bottom: 0 !important;
}